*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
}



h1{
    font-weight: 600 ;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article_description{
    font-size: 18px;
    margin-bottom: 10px;
}

.author_name{
    font-weight: 700;
    padding-top: 30px;
}

.position , .author_name{
    padding-left: 80px;
}

.article_description, .position {
    color: rgb(85, 84, 84);
}

.article_thumbnail{
    width: 100%;
}

.position{
    padding-bottom: 30px;
}

.author_profile{
    height: 100px;
    font-size: 15px;
}

.profile_picture{
    width: 56px;
    float: left;
    padding-top: 22px;
    padding-bottom: 22px;
}


.main_content{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}



@media (max-width: 180px) {

}


@media screen and (min-width:481px) and (max-width : 768px) {

}


@media (min-width: 1025px) {

    .main_content{
        display: grid;
        grid-template-areas: 
        "a a a"
        "e e e"
        "b c d";
        grid-template-columns: 1fr 1fr 1fr;
        gap: 42px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .article_preview:first-child{
        grid-area: a;
        width: 100%;
    }
    
    .article_preview:first-of-type .article_thumbnail{
        width: 350px;
        float: left;
        margin-right: 60px;
    }
    
    .article_preview:first-of-type h1{
        display: block;
        margin-top: 0;
    }
    
    .article_preview:first-of-type .article_description{
        display: block;
    }
    
    .article_preview:first-of-type .author_name , .article_preview:first-of-type .position{
        padding-left: 490px;
    }
    
    .article_preview:first-of-type .author_profile{
        display: block;
    }
    

}